@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixel-horror";
    src: url("fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes wobble1 {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(1deg);
    }
    30% {
        transform: rotate(-1deg);
    }
    45% {
        transform: rotate(2deg);
    }
    60% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(1deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes hoverfloat {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
    }
    25% {
        transform: translateY(10px);
        transform: rotate(5deg);
    }
    50% {
        transform: translateY(10px);
        transform: rotate(-5deg);
    }
    75% {
        transform: translateY(-10px);
        transform: rotate(5deg);
    }
    100% {
        transform: translateY(-10px);
        transform: rotate(-5deg);
    }
}

@keyframes clickme {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
        transform: rotate(1deg);
    }
    50% {
        transform: scale(1);
        transform: rotate(-1deg);
    }
    75% {
        transform: scale(1.4);
        transform: rotate(2deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(-2deg)
    }
}

h1 {
    font-family: "Minecraft", sans-serif;
    justify-content: center;
    text-align: center;
}
h2 {
    font-family: "Pixel-horror", sans-serif;
    text-align: center;
    margin: 0 auto;
}
p {
    font-family: "Pixel-horror", sans-serif;
    padding: 10px;
}
.leftright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
}
.leftright p {
    flex: 1;
    margin: 0;
    width: 25%;
}
.leftright h1 {
    flex: 1;
    margin: 0;
    margin-left: 12%;
}
.leftright img {
    max-width: 45%;
    height: auto;
    margin-right:3%;
    margin-left:40%;
}
dt {
    font-family: "Minecraft", sans-serif;
    margin-bottom: 7px;
}
dd {
    margin-bottom: 5px;
    font-family: "Pixel-horror", sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
label {
    margin-bottom: -1px;
    font-family: "Pixel-horror", sans-serif;
}
/* aww may label */
button {
    font-family: "pixel-horror", sans-serif;
    font-size: 200%;
}
.wobble1 img {
    animation-name: "wobble1";
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.hoverfloat:hover {
    animation-name: "hoverfloat";
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.main {
    padding-left: 12%;
    padding: 20px;
    box-sizing: border-box;
}
.slider {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-left: 12%
}
.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex: 0 0 280px;
    min-width: 280px;
    background: white;
    padding: 0;
    overflow: hidden;
    border: 2px solid;
    border-color: black;
}
.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.product-img2 {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.product-images .product-img {
    width: 50%;
}
.product h3 {
    display: inline-block;
    margin: 12px auto 16px;
    font-family: "Pixel-horror", sans-serif;
    text-align: center;
    padding: 0 12px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66, 227, 255, 0.756);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
.product:hover .overlay {
    transform: translateX(0);
    animation-duration: 0.3s;
}
.overlay-text {
    margin: 0 auto;
    max-width: 240px;
    font-size: 15px;
    line-height: 1.5;
}
.business-stationery {
    font-family: "minecraft", sans-serif;
}
.photo {
    font-family: "minecraft", sans-serif;
}
.labels-packaging {
    font-family: "minecraft", sans-serif;
}
.paper-type {
    font-family: "minecraft", sans-serif;
}
.paper-weight {
    font-family: "minecraft", sans-serif;
}
.paper-size {
    font-family: "minecraft", sans-serif;
}
.sec dt {
    border: 2px;
}
.sec dt:hover {
    animation-name: clickme;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}
th {
    font-family: "minecraft", sans-serif;
}
td {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    border: 3px;
    border-color: black;
    width: 50%;
    margin: 0 auto;
}
td, th {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}